@import "compass";

.animation {
  background: #000000;
  overflow: hidden;
  /* max-height: 300px; */
}

figure { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
}

svg {
  padding: 0;
  width: 1000px;
}

svg > * { 
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 1px;
}
