@import "compass";

.rj_animation {
  background: #000000;
  overflow: hidden;
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
}

figure { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

svg {
  padding: 0;
  width: 50px;
}

svg > * { 
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 1px;
}
