 {{!-- title for easy identification --}}
<h1>Create a new login!</h1>
<form method="POST" action="/users/new">
      Username:
      <input name="username" type="text">
      <br> Password:
      <input name="password" type="password">
      <br> Email address:
      <input name="email" type="text">
      <br>
      <input type="submit" value="Create!">
</form>