<h1>Create a new product!</h1>
<form method="POST" action="/products/new">
<br>
Name: 
<input type="text" name="name">
<br>
Colour: 
<input type="text" name="colour">
<br>
Img: 
<input type="text" name="img">
<br>
Description: 
<input type="text" name="description">
<br>
Price: 
<input type="text" name="price">
<br>
Quantity: 
<input type="text" name="quantity">
<br>
<input type="submit" value="Create new product!">
</form>